[Unit]
Description=AllStarLink-Zello_Bridge Service
After=netcheck.service
Requires=netcheck.service

[Service]
ExecStart=./.venv/bin/asl-zello_bridge
Restart=always

[Install]
WantedBy=multi-user.target
