[Unit]
Description=Zello_Bridge Service
After=netcheck.service
Requires=netcheck.service

[Service]
# WorkingDirectory=/opt/Zello_Bridge
ExecStart=/opt/Zello_Bridge/.venv/bin/zello_bridge
Restart=always

[Install]
WantedBy=multi-user.target
