[Unit]
Description=Zello_Bridge Service
After=netcheck.service
Requires=netcheck.service

[Service]
ExecStart=./.venv/bin/zello_brigde
Restart=always

[Install]
WantedBy=multi-user.target
